@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;700&display=swap');

/*-----RESET-----*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*-----HEADER-----*/
.bg-green{
    background-color: #567558;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link{
    color: #ffffff;
}


.navbar-light .navbar-nav .nav-link:hover{
    color: #ffffff;
    text-decoration:underline
}


nav{
    font-family: 'Poppins', sans-serif;
    font-weight: 500px;
}


header nav ul{
    list-style: none;
    display: flex;
}

header nav ul li{
    margin: 20px;
}

header nav ul li a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500px;
    color:#ffffff;
}



.logo{
    width: 100px;
    border-radius: 50px;
    margin: 10px;
}


/*-----MAIN------*/
main{
    padding: 20px;
}

h1{
    color:#17651D;
    font-style: normal;
    font-family:'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 700px;
}



h2{
    font-family:'Poppins', sans-serif;
    color: #05610c;
    margin: 15px;
    font-size: 25px;
    font-weight: 600px;
}

.beneficios{
    background-color: aliceblue;
}
.beneficios h2{
    text-align: center;
}


.hero{
    position: relative;
    background-image: url(../img/background.png);
    width: 100%;  
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.hero img{
    height:535px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.hero h1{
    height: 65px;
    background-color: aliceblue;
    border: 2px solid #05610c; 
    padding: 15px;
    display:inline-block;
    margin-bottom: 0;
}


p{
    font-family:'Poppins', sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 200px;
    margin-top: 20px;
}

.grid-galeria{
width: 100%;
margin-top: 50px;
display: grid;
grid-template-columns: repeat(3,1fr);
grid-auto-rows: 250px;
gap: 15px;
}

.grid-galeria img{
width: 100%;
height: 100%;
object-fit: cover;
box-shadow: 10px 10px 13px -3px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 13px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 13px -3px rgba(0,0,0,0.75);
}

.img-2{
    grid-row: span 2;
}

.img-7{
    grid-column: span 2;
    grid-row: span 2;
}


.preguntas-frecuentes p{
    background-color:rgb(139, 211, 166);
    display: inline-block;
}


.btn{
    background-color: #049b48;
    border-color: #025025;
}

.btn:hover{
    background-color: rgb(78, 77, 76);
}

.form-control{
    border: 2.5px solid #636566;
    background-color: rgb(209, 191, 168);    
}

iframe{
    box-sizing: border-box;
    width: 400px;
    padding: 20px;
}



/*-----FOOTER------*/
footer div a img{
    width: 50px;
    left: 50px;
    bottom: 20px;
    margin: 5px;
}

.fixed{
    position: fixed;
    right: 20px;
    bottom: 5px;
    width: 50px;
    margin: 5px
}

.footercontenedor p{
    text-align: center;
    background-color:#567558;
}
    


/*---MEDIA QUERY---*/
@media screen and (max-width:1048px){
    .hero h1{
        height: 70px;
        padding: 5px;
        text-align: center;
    }
}

@media screen and (max-width:950px){
    .grid-galeria{
        grid-template-columns:repeat(2,1fr);
        grid-template-rows: 220px;
    }
    .grid-item{
        grid-column: span 1;
        grid-row: span 1;
    }


    .hero h1{
        font-size: 15px;
        height: 55px;
    }
}


@media screen and (max-width:620px){
    .hero img{
        display: none;
    }
}
    

@media screen and (max-width:450px){
    .grid-galeria{
        grid-template-columns: 1fr;
    }
    .grid-item{
        grid-column: span 1;
        grid-row: span 1;
    }
    .fixed{
        display: none;
    }
    iframe{
        width: 100%;
    }
    }

@media screen and (max-width:385px){
    .hero h1{
        height: 65px;
        }
    }