@charset "UTF-8";
/*--PALETA DE COLORES--*/
/*--TIPOGRAFIA--*/
/*--TAMAÑO DE TIPOGRAFIA--*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;700&display=swap");
.bg-green {
  background-color: #567558;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link {
  color: #ffffff; }

.navbar-light .navbar-nav .nav-link:hover {
  color: #ffffff;
  text-decoration: underline; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; }

header nav {
  font-family: "Poppins", sans-serif;
  font-weight: 500px; }
  header nav div a .logo {
    width: 100px;
    border-radius: 50px;
    margin: 10px; }
  header nav div div ul {
    list-style: none;
    display: flex; }
    header nav div div ul li {
      margin: 20px; }
    header nav div div ul a {
      text-decoration: none;
      font-family: 'Poppins', sans-serif;
      font-weight: 500px;
      color: #ffffff; }

footer .footercontenedor .redessociales a img {
  width: 50px;
  left: 50px;
  bottom: 20px;
  margin: 5px; }

footer .footercontenedor .fixed {
  position: fixed;
  right: 20px;
  bottom: 5px;
  width: 50px;
  margin: 5px; }
  footer .footercontenedor .fixed p {
    text-align: center;
    background-color: #567558; }
