footer{
    .footercontenedor{
        .redessociales{
    
                img{
                    width: 50px;
                    left: 50px;
                    bottom: 20px;
                    @include margen-y-relleno (5px, 3px);
                    transition: 1s;
                }
                .redsocial:hover{
                    transform: scale(1.2);
                }
                }
            }
        }
    

                
            
        .fixed{
            position: fixed;
            right: 20px;
            bottom: 5px;
            width: 50px;
            margin: 5px;
            
            }
        .footercontenedor p{
            text-align: center;
            background-color:#567558;

            }
        
    
