footer{
    .footercontenedor{
        .redessociales{
            a{
                img{
                    width: 50px;
                    left: 50px;
                    bottom: 20px;
                    margin: 5px;
                }
            }
        }
        .fixed{
            position: fixed;
            right: 20px;
            bottom: 5px;
            width: 50px;
            margin: 5px;
            a{
                img{

                }
            }
            p{
                text-align: center;
                background-color:#567558;

            }
        }
    }
}