header{
    nav{
        font-family: $font-family;
        font-weight: nth($font-weight, 2);
        

                .logo{
                    width: 100px;
                    border-radius: 50px;
                    margin: 10px;
                }

                ul{
                    list-style: none;
                    display: flex;
                    

                    li{
                        margin: 20px;
                    }
                        a{  
                            text-decoration: none;
                            font-family:$font-family;
                            font-weight: nth($font-weight, 2);
                            color:$color-secundario; 
                            
                        }
                    }
                }
            }
        

    





