/*--MAIN INDEX--*/
main{
    @include margen-y-relleno (5px, 20px);
    section{
        .hero{
            position: relative;
            background-image: url(../img/background.png);
            width: 100%;  
            height: 600px;
            @extend %background;
            h1{
                color:$color-principal;
                font-style: normal;
                font-family:$font-family;
                font-size:$font-size-principal;
                font-weight: nth($font-weight, 4);
                height: 65px;
                background-color: aliceblue;
                border: 2px solid #05610c; 
                padding: 15px;
                display:inline-block;
                margin-bottom: 0;
            }
            img{
                height:535px;
                margin-left: auto;
                margin-right: auto;
                display: block;
            }
        }
    }
}
    .beneficios{
        background-color: aliceblue;

        h2{
            font-family:$font-family;
            color:$color-principal;
            margin: 15px;
            font-size:$font-size-principal;
            font-weight: nth($font-weight, 3);
            text-align: center;
        }
            
        
        p{
            font-family:$font-family;
            font-style: normal;
            font-size:$font-size-secundario;
            font-weight: nth($font-weight, 1);
            @include margen-y-relleno (5px, 5px);
        }
    }

/*--MAIN NOSOTROS--*/
.historia{
    background-color: aliceblue;
        h1{
            color:$color-principal;
            font-style: normal;
            font-family:$font-family;
            font-size:$font-size-principal;
            font-weight: nth($font-weight, 4);
    }
        p{
            font-family:$font-family;
            font-style: normal;
            font-size:$font-size-secundario;
            font-weight: nth($font-weight, 1);
            @include margen-y-relleno (5px, 5px);
    }
}

/*--MAIN GALERIA--*/
main{
    h1{
        color:$color-principal;
        font-style: normal;
        font-family:$font-family;
        font-size:$font-size-principal;
        font-weight: nth($font-weight, 4);
    }
    .grid-galeria{
        width: 100%;
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-auto-rows: 250px;
        gap: 15px;

        .grid-item{
            width: 100%;
            height: 100%;
            object-fit: cover;
            box-shadow: 10px 10px 13px -3px rgba(0,0,0,0.75);
            -webkit-box-shadow: 10px 10px 13px -3px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 10px 13px -3px rgba(0,0,0,0.75);
        }
            
        
            .grid-item.img-2{
                grid-row: span 2;
            }

            .grid-item.img-7{
                grid-column: span 2;
                grid-row: span 2;
            }
    
        }
            }
            

/*--MAIN PREGUNTAS FRECUENTES--*/
.cuestionario{
    background-color: aliceblue;
        h1{
            color:$color-principal;
            font-style: normal;
            font-family:$font-family;
            font-size:$font-size-principal;
            font-weight: nth($font-weight, 4);
            text-align: center;
        }
    
        p{
            font-family:$font-family;
            font-style: normal;
            font-size:$font-size-secundario;
            font-weight: nth($font-weight, 1);
            margin-top: 20px;
        }
}

/*--MAIN CONTACTO--*/
main{
    .registrate{
        h1{
            text-align: center;
            }
            .comentario h2{
                font-family:$font-family;
                color:$color-principal;
                font-size:$font-size-principal;
                font-weight: nth($font-weight, 3);
        }
    }
    iframe{
        box-sizing: border-box;
        width: 400px;
        @include margen-y-relleno (15px, 20px);
    }
    }
    

