/*--PALETA DE COLORES--*/
$color-principal:#17651D;
$color-secundario:#ffffff;

/*--TIPOGRAFIA--*/
$font-family:'Poppins', sans-serif;


/*--TAMAÑO DE TIPOGRAFIA--*/
$font-size-principal:25px;
$font-size-secundario:20px;